<h3> Add item to Grocery List </h3>

<%= form_with scope: :grocery, url: groceries_path do |form| %>
  <div class="row">
    <div class="col s10">
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>
    </div>

    <div class="col s2">
      <p>
        <%= form.label :quantity %><br>
        <%= form.number_field :quantity %>
      </p>
    </div>

  </div>
  <p>
    <%= form.submit "Add to list", class: "waves-effect waves-light btn white-text" %>
  </p>
<% end %>
